<h4>Products</h4>
        <!-- <select (change)="filterItems($event)">
        <option>Electronics</option>
        <option>Food</option>
        <option>Clothing</option>
        <option>Pets</option>
        </select>

        <div [ngClass]="{favorites:p.favorite}" *ngFor="let p of products">
        
        <h4>{{p.title}} ({{p.category}})</h4>

        {{p.price}}<br>

        <button (click)="updateFavorite(p)">Yes</button>
        
        <button (click)="addToInventory(p)">Add to Inventory</button>

        </div> -->

        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>Electronics</mat-grid-tile>
            <mat-grid-tile>Food</mat-grid-tile>
            <mat-grid-tile>Clothing</mat-grid-tile>
            <mat-grid-tile>Pets</mat-grid-tile>
          </mat-grid-list>



<p>
    product works!
    {{index}}
</p>

