<h4>Products</h4>
        <!-- <select (change)="filterItems($event)">
        <option>Electronics</option>
        <option>Food</option>
        <option>Clothing</option>
        <option>Pets</option>
        </select>

        <div [ngClass]="{favorites:p.favorite}" *ngFor="let p of products">
        
        <h4>{{p.title}} ({{p.category}})</h4>

        {{p.price}}<br>

        <button (click)="updateFavorite(p)">Yes</button>
        
        <button (click)="addToInventory(p)">Add to Inventory</button>

        </div> -->
    <nav>
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile><a routerLink="/electronics">Electronics  </a></mat-grid-tile>
            <mat-grid-tile><a routerLink="/food">Food  </a></mat-grid-tile>
            <mat-grid-tile><a routerLink="/clothing">Clothing  </a></mat-grid-tile>
            <mat-grid-tile><a routerLink="/pets">Pets  </a></mat-grid-tile>
          </mat-grid-list>
        </nav>

        <router-outlet></router-outlet>

<p>
    product works!
    <!-- {{index}} -->
</p>

